extends layout

block content
	form(action="/uploads" method="post" enctype="multipart/form-data")
		h1
			strong CSV File Upload
		.form-group
			label(for='Email')
				| Email 
			input#title.form-controll(type='email' name='email' placeholder='Enter email here', required)
		.form-group.file-area
			label(for='images')
				| CSV File
			input#images(type='file' name="csv_file" accept=".csv" required)
			.file-dummy
				.success #{message}
				.default #{message}
		.form-group
			button(type='submit') Upload File
	link(href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css')
